.transition-layout {
    transition: all .3s linear;
}
.base-layout {
    width: 400px;
}
.leftLayout {
    position: relative;
    border: 1px solid gray;
    height: 100vh;
    background-color: #fff;
}
.rightLayout {
    width: calc(100%  - 400px);
}
.profile-layout {
    width: 400px;
}
@media (max-width: 800px) {
    .base-layout {
        width: 100%;
        position: absolute;
        left: 0;
    }
    .rightLayout {
        position: absolute;
        width: 100%;
        right: 0px;
        background: #000;
    }
    .hidden-righ-layout {
        right: -100% !important;
    }
    .hidden-left-layout {
        position: absolute;
        left: -100%;
    }
    .profile-layout {
        width: 100%;
    }
}