.right-layout {
    position: absolute;
    width: 400px;
    background-color: #fff;
    height: 100vh;
    top: 0;
    z-index: 5;
    right: 0;
}
.left-layout {
    width: calc(100% - 400px );
}
.hidden-right-layout {
    right: -100%;
}
.full-view-left-layout {
    width: 100%;
}
@media only screen and (max-width: 1200px) {
    .right-layout {
        width: 100%;
    }
    .left-layout {
        width: 100%;
    }
}